/**
 * Border-box everything
 * Thanks, Paul Irish
 **/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Body Styles
 **/
body {
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/**
 * Link Styles
 */
a {
  text-decoration: none;
}

/**
 * Header Styles
 **/
.header {
  padding: 20px;
  border-bottom: 1px solid black;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.header-wrapper-name {
  font-size: 20px;
  font-weight: bold;
}

/**
 * Menu Button
 */
.menuBtn {
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  background: transparent;
  border: none;
  position: relative;
  z-index: 100;
  display: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/**
 * Menu Styles
 **/
.mainMenu {
  display: flex;
}

/**
 * Main Area
 */
.main {
  max-width: 1040px;
  padding: 0 20px;
  margin: 20px auto 0;
}

@media screen and (max-width: 960px) {
  .menuBtn {
    display: block;
  }

  .menuContainer {
    display: none;
  }

  .mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex: 1 1 auto;
  }

  .mainMenu.isOpen {
    display: flex;
  }

  .mainMenu-item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }

  .mainMenu-item-link {
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 961px) {
  .mainMenu-item + .mainMenu-item {
    margin-left: 20px;
  }
}
